.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #5d48a0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #7a66b2;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.logoContainer:hover {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.logoPlaceholder {
  font-size: 30px;
  margin-right: 10px;
  color: #9775e0;
}

.logoText {
  font-style: italic;
}

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navButton {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition:
    background-color 0.3s,
    opacity 0.3s;
}

.navButton:hover {
  opacity: 0.9;
}

.registerButton {
  background-color: #3d4e66;
  color: #e0e0e0;
}

.loginButton {
  background-color: #9775e0;
  color: #ffffff;
}

.reviewButton {
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #f0f0f0;
  transition: color 0.2s;
  text-decoration: none;
}

.reviewButton:hover {
  text-decoration: underline;
  color: #ffffff;
}

.profileIcon {
  width: 40px;
  height: 40px;
  background-color: #7b68b0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.2s;
  color: #ffffff;
}

.profileIconLink {
  text-decoration: none;
}

.profileIcon:hover {
  background-color: #5d48a0;
}

.logoutButton {
  background-color: #9775e0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #7b68b0;
}

.pageTitle {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
